.App {
  text-align: center;
}

body{
  background-color: aqua;
}

.row {
  display: flex;
  flex-direction: row;
}

.stitchlist {
  display: flex;
  overflow: hidden;
  width: 75%;
  height: 100px;
  justify-content: space-around;
}
.stitchlist:hover{
  overflow-x: scroll;
}
.stitchlist::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.stitchlist::-webkit-scrollbar-thumb {
  background-color: #000000;
}

li {
  display: inline-block; /* display the list items as inline blocks */
  width: auto; /* set the width of each list item to its natural width */
  margin: 0 10px; /* add some space between the list items */
  font-size: 30px; /* make the font size larger */
}

label {
  cursor: pointer; /* change the cursor to a pointer when hovering over the label */
}

.incomplete {
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}

.complete {
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}
ul {
  list-style-type: none;
 }


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button{
   width: 100px;
}